<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.EGuidance"
        tools:targetApi="31">

        <receiver android:name=".Utils.ReminderReceiver" />

        <activity
            android:name=".Activity.Doctor.FreeSupportActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Doctor.ViewScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Doctor.AssistPatientActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.ManageUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.AddDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.AdminManageBookingSessions"
            android:exported="false" />
        <activity
            android:name=".Activity.Doctor.DoctorHomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.User.OurServicesActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.User.EmotionalTestActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.User.FreeChatActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.User.BookSessionActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.User.AssistanceActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.User.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>